/* alert */
/* ==========================================================================
   _styles.alert.css
   ========================================================================== */

{
  [role="alert"]:empty {
    display: none;
  }
}

/* breadcrumbs */
/* ==========================================================================
   _styles.breadcrumbs.css
   ========================================================================== */
{
  .c-breadcrumbs {
    li ~ li::before {
      @apply inline-block;
      position: relative;
      top: 0.1em;
      content: url("data:image/svg+xml,%3Csvg width='0.8em' height='0.8em' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg' role='presentation' aria-hidden='true' %3E%3Cpath d='M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
      padding-left: 0.5rem; padding-right: 0.5rem;
    }
  }


  .c-breadcrumbs--truncated {
    li:not(.c-breadcrumbs__backbutton) {
      @apply lg:max-w-xs; :last-child {
        @apply max-w-full;
      }
    }
  }


  .c-breadcrumbs--collapse-on-mobile {
    li {
      display: none;
      @apply lg:inline-flex; :first-child, :last-child {
        display: inline-flex;
      }
    }

    .c-breadcrumbs__backbutton + li {
      display: inline-flex;
    }
  }


  .c-breadcrumbs--inline-on-mobile {
    li {
      @apply inline!;
      @apply lg:inline-flex!;
      @apply leading-loose!;
      @apply lg:leading-tight!;

      a, span {
        @apply whitespace-normal!;
        @apply lg:truncate!;
      }
    }
  }


  .c-breadcrumbs--inline-on-desktop {
    li {
      @apply lg:inline!;
      @apply lg:leading-loose!;

      a, span {
        @apply lg:whitespace-normal!;
      }
    }
  }


  .c-breadcrumbs__backbutton {
    margin-right: 1rem;
    position: relative;
    @apply top-0.5; + li::before {
      display: none !important
    }
  }
}

/* button */
/* ==========================================================================
   _styles.button.css
   ========================================================================== */

{
  .c-button {
    display: inline-flex;
    @apply items-baseline;
    @apply px-3;
    @apply py-2;
    background-color: #ffffff;
    border-width: 1px; border-style: solid;
    border-color: #00607a;
    border-radius: 0.1875rem;
    @apply align-baseline;
    font-weight: 600;
    color: #00607a;
    @apply transition-all;
    @apply duration-100;
    @apply ease-out;
    white-space: nowrap;
    cursor: pointer;

    @apply focus:bg-warning-base;
    @apply focus:border-warning-base;
    @apply focus:shadow-outline-black;
    @apply focus:text-black;
    @apply focus:outline-hidden; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      background-color: #ededec;
      border-color: #00607a;
      color: #00607a;
    } :active:not(:disabled),
    .ds-active:not(:disabled) {
      position: relative;
      @apply top-px;
    }

    .ds-focus {
      @apply bg-warning-base;
      @apply border-warning-base;
      @apply shadow-outline-black;
      color: #1f2331;
      @apply outline-hidden;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-button--disabled,
    .c-button--disabled:hover,
    .c-button--disabled:focus {
      background-color: #ffffff;
      @apply opacity-50;
      @apply cursor-not-allowed;
    }
  }

  a.c-button--disabled {
    @apply pointer-events-none;
  }

  .c-button--base {
    @apply px-3;
    @apply py-2;
    font-size: 1rem; line-height: 1.5rem;
  }

  .c-button--lg {
    padding-left: 1rem; padding-right: 1rem;
    @apply py-3;
    font-size: 1.125rem; line-height: 1.75rem;
  }

  .c-button--sm {
    padding-left: 0.5rem; padding-right: 0.5rem;
    @apply py-1;
    font-size: 0.875rem; line-height: 1.25rem;
  }

  .c-button--primary {
    background-color: #00607a;
    color: #ffffff; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      @apply bg-primary-dark;
      @apply border-primary-dark;
      color: #ffffff;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-button--disabled,
    .c-button--disabled:hover,
    .c-button--disabled:focus {
      background-color: #00607a;
    }
  }

  .c-button--alert {
    background-color: #d22333;
    border-color: #d22333;
    color: #ffffff; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      @apply bg-alert-dark;
      @apply border-alert-dark;
      color: #ffffff;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-button--disabled,
    .c-button--disabled:hover,
    .c-button--disabled:focus {
      background-color: #d22333;
    }
  }

  .c-button--has-selection {
    background-color: #d6eaf0;
    @apply text-primary-dark;
    border-color: #00607a;
    box-shadow: none; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      @apply bg-primary-light/50;
      color: #1f2331;
    } :active:not(:disabled),
    .ds-active:not(:disabled) {
      box-shadow: none;
    } [disabled], [disabled]:hover, [disabled]:focus {
      background-color: #d6eaf0;
    }
  }

  .c-button--transparent {
    background-color: transparent;
    @apply border-transparent;
    box-shadow: none;
    text-decoration: underline; :hover:not(:disabled),
    .ds-hover:not(:disabled) {
      @apply text-primary-dark;
      border-color: #92949b;
      box-shadow: none;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-button--disabled,
    .c-button--disabled:hover,
    .c-button--disabled:focus {
      background-color: transparent;
      @apply border-transparent;
      text-decoration: none;
    }
  }
}

/* button-loader */
/* ==========================================================================
   _styles.button-loader.css
   ========================================================================== */
{
  .c-button-loader {
    display: inline-flex;
    @apply items-baseline;
    @apply px-3;
    @apply py-2;
    background-color: #ffffff;
    border-width: 1px; border-style: solid;
    border-color: #00607a;
    border-radius: 0.1875rem;
    @apply align-baseline;
    font-weight: 600;
    color: #00607a;
    @apply transition-all;
    @apply duration-100;
    @apply ease-out;
    white-space: nowrap;
    cursor: pointer;

    @apply focus:bg-warning-base;
    @apply focus:border-warning-base;
    @apply focus:shadow-outline-black;
    @apply focus:text-black;
    @apply focus:outline-hidden; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      background-color: #ededec;
      border-color: #00607a;
      color: #00607a;
    } :active:not(:disabled),
    .ds-active:not(:disabled) {
      position: relative;
      @apply top-px;
    }

    .ds-focus {
      @apply bg-warning-base;
      @apply border-warning-base;
      @apply shadow-outline-black;
      color: #1f2331;
      @apply outline-hidden;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-button-loader--disabled,
    .c-button-loader--disabled:hover,
    .c-button-loader--disabled:focus {
      background-color: #ffffff;
      @apply opacity-50;
      @apply cursor-not-allowed;
    }
    .c-button-loader__spinner {
      opacity: 0;
    }

    .c-button-loader__success {
      opacity: 0;
      text-decoration: none;
    }
  }

  a.c-button-loader--disabled {
    @apply pointer-events-none;
  }

  .c-button-loader--base {
    @apply px-3;
    @apply py-2;
    font-size: 1rem; line-height: 1.5rem;
  }

  .c-button-loader--lg {
    @apply px-3;
    @apply py-2;
    font-size: 1.125rem; line-height: 1.75rem;
  }

  .c-button-loader--sm {
    padding-left: 0.5rem; padding-right: 0.5rem;
    @apply py-1;
    font-size: 0.875rem; line-height: 1.25rem;
  }

  .c-button-loader--primary {
    background-color: #00607a;
    color: #ffffff; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      @apply bg-primary-dark;
      @apply border-primary-dark;
      color: #ffffff;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-button-loader--disabled,
    .c-button-loader--disabled:hover,
    .c-button-loader--disabled:focus {
      background-color: #00607a;
    }
  }

  .c-button-loader--alert {
    background-color: #d22333;
    border-color: #d22333;
    color: #ffffff; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      @apply bg-alert-dark;
      @apply border-alert-dark;
      color: #ffffff;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-button-loader--disabled,
    .c-button-loader--disabled:hover,
    .c-button-loader--disabled:focus {
      background-color: #d22333;
    }
  }

  .c-button-loader--transparent {
    background-color: transparent;
    @apply border-transparent;
    box-shadow: none;
    text-decoration: underline; :hover:not(:disabled),
    .ds-hover:not(:disabled) {
      @apply text-primary-dark;
      border-color: #92949b;
      box-shadow: none;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-button-loader--disabled,
    .c-button-loader--disabled:hover,
    .c-button-loader--disabled:focus {
      background-color: transparent;
      @apply border-transparent;
      text-decoration: none;
    }
  }

  .c-button-loader--is-loading {
    @apply pointer-events-none;

    .c-button-loader__spinner {
      opacity: 1;
    }

    .c-button-loader__success {
      opacity: 0;
    }

    .c-button-loader__content {
      opacity: 0;
    }
  }

  .c-button-loader--is-success {
    @apply pointer-events-none;

    .c-button-loader__spinner {
      opacity: 0;
    }

    .c-button-loader__success {
      opacity: 1;
    }

    .c-button-loader__content {
      opacity: 0;
    }
  }
}

/* checkboxes */
/* ==========================================================================
   _styles.checkboxes.css
   ========================================================================== */
{
  .c-checkboxes--base {
    input[type='checkbox'] {
      @apply w-6;
      @apply h-6;
    }
  }

  .c-checkboxes--sm {
    input[type='checkbox'] {
      @apply w-base!;
      @apply h-base!;
    }
  }

  .c-checkboxes__conditional-active {
    .c-checkboxes__conditional-item {
      display: block;
    }
  }

  .c-checkboxes__conditional-hidden {
    .c-checkboxes__conditional-item {
      display: none;
    }
  }
}

/* collapsible */
/* ==========================================================================
   _styles.collapsible.css
   ========================================================================== */

{
  .c-collapsible { [data-expanded='true'] {
      .c-collapsible__show {
        display: none;
      }

      .c-collapsible__hide {
        display: block;
      }

      .c-collapsible__content {
        display: block;
      }
    } [data-expanded='false'] {
      .c-collapsible__show {
        display: block;
      }

      .c-collapsible__hide {
        display: none;
      }

      .c-collapsible__content {
        display: none;
      }
    }
  }
}

/* datepicker */
/* ==========================================================================
   _styles.datepicker.css
   ========================================================================== */

{
  .c-datepicker {
    calendar-month {
      --color-accent: var(--color-primary-base);
      --color-text-on-accent: var(--color-white); ::part(button) {
        @apply mx-px;
        border-radius: 0.1875rem; :focus-visible {
          @apply focus:bg-warning-base;
          @apply focus:border-warning-base;
          @apply focus:shadow-outline-black;
          @apply focus:text-black;
          @apply focus:outline-hidden;
        }
      } ::part(today){
        font-weight: 700;
        text-decoration: underline;
      }
    }

    calendar-date,
    calendar-range,
    calendar-multi { ::part(header) {
        display: flex;
        @apply flex-wrap;
        @apply gap-base;
      } ::part(next), ::part(previous) {
        display: inline-flex;
        @apply items-baseline;
        padding-left: 0.5rem; padding-right: 0.5rem;
        @apply py-1;
        background-color: #ffffff;
        border-width: 1px; border-style: solid;
        border-color: #00607a;
        border-radius: 0.1875rem;
        @apply align-baseline;
        font-weight: 600;
        font-size: 0.875rem; line-height: 1.25rem;
        color: #00607a;
        @apply transition-all;
        @apply duration-100;
        @apply ease-out;
        white-space: nowrap;
        cursor: pointer;

        @apply focus:bg-warning-base;
        @apply focus:border-warning-base;
        @apply focus:shadow-outline-black;
        @apply focus:text-black;
        @apply focus:outline-hidden; :hover:not(:disabled), :active:not(:disabled) {
          background-color: #ededec;
          border-color: #00607a;
          color: #00607a;
        } :active:not(:disabled) {
          position: relative;
          @apply top-px;
        } [disabled], [disabled]:hover, [disabled]:focus {
          background-color: #ffffff;
          @apply opacity-50;
          @apply cursor-not-allowed;
        }
      }
    }
  }
}

/* dialog */
/* ==========================================================================
   _styles.dialog.css
   ========================================================================== */

@utility dialog-backdrop {
  display: none;
  position: fixed;
  @apply overflow-y-auto;
  @apply inset-0;
  @apply bg-black/50;
  @apply z-50;

  .active {
    display: grid;
    @apply h-screen;
    @apply place-items-center;
  }
}


{
  body {
    .has-dialog {
      overflow: hidden;
    }
  }
}

/* dropdown */
/* ==========================================================================
   _styles.dropdown.css
   ========================================================================== */

{
  .c-dropdown {
    display: inline-flex;
    @apply items-baseline;
    @apply px-3;
    @apply py-2;
    background-color: #ffffff;
    border-width: 1px; border-style: solid;
    border-color: #00607a;
    border-radius: 0.1875rem;
    @apply align-baseline;
    font-weight: 600;
    color: #00607a;
    @apply transition-all;
    @apply duration-100;
    @apply ease-out;
    white-space: nowrap;
    cursor: pointer;

    @apply focus:bg-warning-base;
    @apply focus:border-warning-base;
    @apply focus:shadow-outline-black;
    @apply focus:text-black;
    @apply focus:outline-hidden; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      background-color: #ededec;
      border-color: #00607a;
      color: #00607a;
    } :active:not(:disabled),
    .ds-active:not(:disabled) {
      position: relative;
      @apply top-px;
    }

    .ds-focus {
      @apply bg-warning-base;
      @apply border-warning-base;
      @apply shadow-outline-black;
      color: #1f2331;
      @apply outline-hidden;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-button--disabled,
    .c-button--disabled:hover,
    .c-button--disabled:focus {
      background-color: #ffffff;
      @apply opacity-50;
      @apply cursor-not-allowed;
    }
  }

  .c-dropdown--base {
    @apply px-3;
    @apply py-2;
    font-size: 1rem; line-height: 1.5rem;
  }

  .c-dropdown--lg {
    padding-left: 1rem; padding-right: 1rem;
    @apply py-3;
    font-size: 1.125rem; line-height: 1.75rem;
  }

  .c-dropdown--sm {
    padding-left: 0.5rem; padding-right: 0.5rem;
    @apply py-1;
    font-size: 0.875rem; line-height: 1.25rem;
  }

  .c-dropdown--primary {
    background-color: #00607a;
    color: #ffffff;
    @apply shadow-solid-primary-dark; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      @apply bg-primary-dark;
      @apply border-primary-dark;
      color: #ffffff;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-button--disabled,
    .c-button--disabled:hover,
    .c-button--disabled:focus {
      background-color: #00607a;
    }
  }

  .c-dropdown--has-selection {
    background-color: #d6eaf0;
    @apply text-primary-dark;
    border-color: #00607a;
    box-shadow: none;
    font-weight: 700; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      @apply bg-primary-light/50;
      color: #1f2331;
    } :active:not(:disabled),
    .ds-active:not(:disabled) {
      box-shadow: none;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-button--disabled,
    .c-button--disabled:hover,
    .c-button--disabled:focus {
      background-color: #d6eaf0;
    }
  }

  .c-dropdown--transparent {
    background-color: transparent;
    @apply border-transparent;
    box-shadow: none;
    text-decoration: underline; :hover:not(:disabled),
    .ds-hover:not(:disabled) {
      @apply text-primary-dark;
      border-color: #92949b;
      box-shadow: none;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-button--disabled,
    .c-button--disabled:hover,
    .c-button--disabled:focus {
      background-color: transparent;
      @apply border-transparent;
      text-decoration: none;
    }
  }

  .c-dropdown--header {
    background-color: transparent;
    @apply border-none;
    @apply rounded-none;
    box-shadow: none;
    @apply font-normal;
    font-size: 0.875rem; line-height: 1.25rem;
    color: #1f2331; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      background-color: transparent;
      @apply border-none;
      box-shadow: none;
      color: #1f2331;
      text-decoration: underline;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-button--disabled,
    .c-button--disabled:hover,
    .c-button--disabled:focus {
      background-color: transparent;
    }
  }

  .c-dropdown__tooltip {
    display: none;
  }
}

/* footer */
/* ==========================================================================
   _styles.footer.css
   ========================================================================== */
{
  .c-footer__logo {
    @apply bg-cover bg-center;
  }

  .c-footer__logo--ue {
    width: 11.875rem;
    height: 2.625rem;
    @apply w-[7.215rem] h-[1.585rem] lg:w-[10.178rem] lg:h-9;
    background-image: var(--logo-eu, url('/images/logo-eu.svg'));
  }

  .c-footer__logo--feder {
    width: 37.5rem;
    height: 3.5rem;
    @apply w-[17rem] h-[1.5rem] lg:w-[32.2rem] lg:h-12;
    background-image: var(--logo-feder, url('/images/logo-feder.svg'));
  }

  .c-footer__logo--fse {
    width: 39.687rem;
    height: 3.5rem;
    @apply w-[17rem] h-[1.4rem] lg:w-[34.2rem] lg:h-12;
    background-image: var(--logo-fse, url('/images/logo-fse.svg'));
  }

  .c-footer__logo--feader {
    width: 40.625rem;
    height: 3.5rem;
    @apply w-[17.257rem] h-[1.4rem] lg:w-[35.42rem] lg:h-12;
    background-image: var(--logo-feader, url('/images/logo-feader.svg'));
  }

  .c-footer__logo--plurifondo {
    width: 36.5625rem;
    height: 3.5rem;
    @apply w-[16.257rem] h-[1.5rem] lg:w-[31.4rem] lg:h-12;
    background-image: var(--logo-plurifondo, url('/images/logo-plurifondo.svg'));
  }
}

/* header */
/* ==========================================================================
   _styles.header.css
   ========================================================================== */

{
  body {
    .has-offcanvas-open {
      height: 100%;
      @apply overflow-y-hidden;
    }
  }
}

/* input */
/* ==========================================================================
   _styles.input.css
   ========================================================================== */

{
  .c-input--base {
    @apply px-3;
    @apply py-2;
    font-size: 1rem; line-height: 1.5rem;
  }

  .c-input--sm {
    @apply pl-2;
    @apply py-1;
    font-size: 0.875rem; line-height: 1.25rem;
  }
}

/* listbox */
/* ==========================================================================
   _styles.listbox.css
   ========================================================================== */
{
  .c-listbox {
    display: inline-flex;
    @apply items-baseline;
    @apply px-3;
    @apply py-2;
    background-color: #ffffff;
    border-width: 1px; border-style: solid;
    border-color: #00607a;
    border-radius: 0.1875rem;
    @apply align-baseline;
    font-weight: 600;
    color: #00607a;
    @apply transition-all;
    @apply duration-100;
    @apply ease-out;
    white-space: nowrap;
    cursor: pointer;

    @apply focus:bg-warning-base;
    @apply focus:border-warning-base;
    @apply focus:shadow-outline-black;
    @apply focus:text-black;
    @apply focus:outline-hidden; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      background-color: #ededec;
      border-color: #00607a;
      color: #00607a;
    } :active:not(:disabled),
    .ds-active:not(:disabled) {
      position: relative;
      @apply top-px;
    }

    .ds-focus {
      @apply bg-warning-base;
      @apply border-warning-base;
      @apply shadow-outline-black;
      color: #1f2331;
      @apply outline-hidden;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-listbox--disabled,
    .c-listbox--disabled:hover,
    .c-listbox--disabled:focus {
      background-color: #ffffff;
      @apply opacity-50;
      @apply cursor-not-allowed;
    }
  }

  .c-listbox__tooltip {
    display: none;

    [role='option'] {
      position: relative;

      .focused, :focus,
      .ds-focus {
        @apply bg-warning-base;
        @apply border-warning-base;
        @apply shadow-outline-black;
        color: #1f2331;
        @apply outline-hidden;
      } [aria-selected='true'] {
        font-weight: 700; ::before {
          @apply bg-center bg-no-repeat bg-cover;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg transform='matrix(3.4285714285714284,0,0,3.4285714285714284,0,0)'%3E%3Cpath d='M4,12.5a2,2,0,0,1-1.55-.78L.25,9.23A1,1,0,0,1,.34,7.81a1,1,0,0,1,1.41.1l2.06,2.33a.21.21,0,0,0,.18.09.23.23,0,0,0,.18-.08l8.11-8.44a1,1,0,0,1,1.44,1.38l-8.2,8.63A1.94,1.94,0,0,1,4,12.5Z' style='fill: %23000000'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
          content: '';
          @apply w-3;
          @apply h-3;
          position: absolute;
          @apply top-3;
          @apply left-2;
        }
      }
    }
  }

  .c-listbox--base {
    @apply px-3;
    @apply py-2;
    font-size: 1rem; line-height: 1.5rem;
  }

  .c-listbox--lg {
    padding-left: 1rem; padding-right: 1rem;
    @apply py-3;
    font-size: 1.125rem; line-height: 1.75rem;
  }

  .c-listbox--sm {
    padding-left: 0.5rem; padding-right: 0.5rem;
    @apply py-1;
    font-size: 0.875rem; line-height: 1.25rem;
  }

  .c-listbox--primary {
    background-color: #00607a;
    color: #ffffff;
    @apply shadow-solid-primary-dark; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      @apply bg-primary-dark;
      @apply border-primary-dark;
      color: #ffffff;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-listbox--disabled,
    .c-listbox--disabled:hover,
    .c-listbox--disabled:focus {
      background-color: #00607a;
    }
  }

  .c-listbox--has-selection {
    background-color: #d6eaf0;
    @apply text-primary-dark;
    border-color: #00607a;
    box-shadow: none;
    font-weight: 700; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      @apply bg-primary-light/50;
      color: #1f2331;
    } :active:not(:disabled),
    .ds-active:not(:disabled) {
      box-shadow: none;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-listbox--disabled,
    .c-listbox--disabled:hover,
    .c-listbox--disabled:focus {
      background-color: #d6eaf0;
    }
  }

  .c-listbox--transparent {
    background-color: transparent;
    @apply border-transparent;
    box-shadow: none;
    text-decoration: underline; :hover:not(:disabled),
    .ds-hover:not(:disabled) {
      @apply text-primary-dark;
      border-color: #92949b;
      box-shadow: none;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-listbox--disabled,
    .c-listbox--disabled:hover,
    .c-listbox--disabled:focus {
      background-color: transparent;
      @apply border-transparent;
      text-decoration: none;
    }
  }

  .c-listbox--header {
    background-color: transparent;
    @apply border-none;
    @apply rounded-none;
    box-shadow: none;
    @apply font-normal;
    font-size: 0.875rem; line-height: 1.25rem;
    color: #1f2331; :hover:not(:disabled),
    .ds-hover:not(:disabled) {
      background-color: transparent;
      @apply border-none;
      box-shadow: none;
      color: #1f2331;
      text-decoration: underline;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-listbox--disabled,
    .c-listbox--disabled:hover,
    .c-listbox--disabled:focus {
      background-color: transparent;
    }
  }
}

/* menu-horizontal */
/* ==========================================================================
   _styles.menu-horizontal.css
   ========================================================================== */

{
  .c-menu-horizontal--links {
    .c-menu-horizontal__link {
      @apply text-primary-base!; [disabled], [disabled]:hover, [disabled]:focus {
        @apply opacity-50;
        color: #1f2331;
        @apply cursor-not-allowed;
      }
    }
  }

  .c-menu-horizontal--navigation-bar {
    @apply border-l-0;
    @apply border-b;
    @apply border-b-neutral-dark;

    .c-menu-horizontal__link {
      @apply border-none;
      text-decoration: none;
      @apply hover:bg-neutral-lighter;

      .c-menu-horizontal__active {
        @apply hover:no-underline;
        font-weight: 700;
      } :hover:not(:disabled) {
        background-color: #ededec;
      } [disabled], [disabled]:hover, [disabled]:focus {
        background-color: #ffffff;
        @apply opacity-50;
        @apply cursor-not-allowed;
      }
    }

    .c-menu-horizontal__list {
      display: flex;
      @apply flex-wrap;
      position: relative;
      width: 100%;
    }

    .c-menu-horizontal__active {
      @apply hover:no-underline;
      position: relative; ::after {
        content: '';
        display: block;
        position: absolute;
        @apply left-0;
        @apply right-0;
        @apply top-auto;
        @apply bottom-0;
        width: auto;
        @apply h-xs;
        @apply bg-neutral-dark;
      }
    }
  }

  .c-menu-horizontal--tabs {
    @apply lg:border-b;
    @apply lg:border-neutral-dark;

    .c-menu-horizontal__list {
      @apply lg:relative;
      @apply lg:w-full;
      @apply lg:flex;
      @apply lg:flex-nowrap;
      @apply lg:snap-x;
      @apply lg:overflow-x-auto;
      @apply lg:-mb-0.5;
    }

    .c-menu-horizontal__active {
      @apply lg:bg-white;
      @apply lg:border-neutral-base!;
      @apply lg:border-b-0!;
      @apply lg:rounded-t-sm!;
      @apply no-underline!;

      strong {
        font-weight: 700;
        @apply lg:font-normal!;
      }
    }
  }

  .c-menu-horizontal--tabs-mobile {
    width: 100%;
    @apply border-b;
    @apply border-neutral-dark;

    .c-menu-horizontal__list {
      position: relative;
      width: 100%;
      @apply flex!;
      @apply flex-nowrap;
      @apply snap-x;
      @apply overflow-x-auto;
      @apply -mb-0.5!;
    }

    .c-menu-horizontal__active {
      padding-left: 1rem; padding-right: 1rem;
      padding-top: 1rem; padding-bottom: 1rem;
      @apply bg-white!;
      @apply border-neutral-base!;
      @apply border-b-0!;
      @apply rounded-t-sm;
      text-decoration: none;

      strong {
        @apply font-normal;
      }
    }

    .c-menu-horizontal__link {
      padding-left: 1rem; padding-right: 1rem;
      padding-top: 1rem; padding-bottom: 1rem;
    }
  }

  .c-menu-horizontal__link { :focus > span, :focus > strong {
      @apply bg-warning-base;
      @apply shadow-outline-focus;
      color: #1f2331;
      @apply outline-hidden;
    }

    .c-menu-horizontal__active {
      @apply no-underline!;
      @apply hover:underline!;
    }
  }

  .c-menu-horizontal--scroll {
    .c-menu-horizontal__list {
      position: relative;
      width: 100%;
      @apply flex! flex-nowrap!;
      @apply snap-x;
      @apply overflow-x-auto; > li {
        @apply snap-start;
      }
    }
  }
}



/* menu-navigation */
/* ==========================================================================
   _styles.menu-navigation.css
   ========================================================================== */

{
  .c-menu-navigation--last-right { > ul {
      li:last-of-type {
        @apply ml-auto;

        .c-menu-navigation__sub {
          @apply left-auto;
          @apply right-0;
        }

        .c-menu-navigation__tooltip {
          @apply left-auto;
          @apply right-0;
        }
      }
    }
  }



  .c-menu-navigation__button {
    display: inline-flex;
    @apply items-baseline;
    @apply px-3;
    @apply py-2;
    background-color: #ffffff;
    border-width: 1px; border-style: solid;
    border-color: #00607a;
    border-radius: 0.1875rem;
    @apply align-baseline;
    font-weight: 600;
    color: #00607a;
    @apply transition-all;
    @apply duration-100;
    @apply ease-out;
    white-space: nowrap;
    cursor: pointer;

    @apply focus:bg-warning-base;
    @apply focus:border-warning-base;
    @apply focus:shadow-outline-black;
    @apply focus:text-black;
    @apply focus:outline-hidden; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      background-color: #ededec;
      border-color: #00607a;
      color: #00607a;
    } :active:not(:disabled),
    .ds-active:not(:disabled) {
      position: relative;
      @apply top-px;
    }

    .ds-focus {
      @apply bg-warning-base;
      @apply border-warning-base;
      @apply shadow-outline-black;
      color: #1f2331;
      @apply outline-hidden;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-menu-navigation__button--disabled,
    .c-menu-navigation__button--disabled:hover,
    .c-menu-navigation__button--disabled:focus {
      background-color: #ffffff;
      @apply opacity-50;
      @apply cursor-not-allowed;
      @apply pointer-events-none;
    } [aria-expanded='true'] + .c-menu-navigation__sub {
      @apply z-40;
    }

    /* (moved modifier variants to top-level selectors for better discoverability) */
  }

  /* size variants */
  .c-menu-navigation__button--base {
    @apply px-3;
    @apply py-2;
    font-size: 1rem; line-height: 1.5rem;
  }

  .c-menu-navigation__button--lg {
    padding-left: 1rem; padding-right: 1rem;
    @apply py-3;
    font-size: 1.125rem; line-height: 1.75rem;
  }

  .c-menu-navigation__button--sm {
    padding-left: 0.5rem; padding-right: 0.5rem;
    @apply py-1;
    font-size: 0.875rem; line-height: 1.25rem;
  }

  /* modifier: primary */
  .c-menu-navigation__button--primary {
    background-color: #00607a;
    color: #ffffff;
    @apply shadow-solid-primary-dark;
  }

  .c-menu-navigation__button--primary:hover:not(:disabled),
  .c-menu-navigation__button--primary:active:not(:disabled),
  .c-menu-navigation__button--primary.ds-hover:not(:disabled) {
    @apply bg-primary-dark;
    @apply border-primary-dark;
    color: #ffffff;
  }

  .c-menu-navigation__button--primary:disabled,
  .c-menu-navigation__button--primary:disabled:hover,
  .c-menu-navigation__button--primary:disabled:focus,
  .c-menu-navigation__button--primary.c-menu-navigation__button--disabled,
  .c-menu-navigation__button--primary.c-menu-navigation__button--disabled:hover,
  .c-menu-navigation__button--primary.c-menu-navigation__button--disabled:focus {
    background-color: #00607a;
  }

  /* modifier: has-selection */
  .c-menu-navigation__button--has-selection {
    background-color: #d6eaf0;
    @apply text-primary-dark;
    border-color: #00607a;
    box-shadow: none;
    font-weight: 700;
  }

  .c-menu-navigation__button--has-selection:hover:not(:disabled),
  .c-menu-navigation__button--has-selection:active:not(:disabled),
  .c-menu-navigation__button--has-selection.ds-hover:not(:disabled) {
    @apply bg-primary-light/50;
    color: #1f2331;
  }

  .c-menu-navigation__button--has-selection:active:not(:disabled),
  .c-menu-navigation__button--has-selection.ds-active:not(:disabled) {
    box-shadow: none;
  }

  .c-menu-navigation__button--has-selection:disabled,
  .c-menu-navigation__button--has-selection:disabled:hover,
  .c-menu-navigation__button--has-selection:disabled:focus,
  .c-menu-navigation__button--has-selection.c-menu-navigation__button--disabled,
  .c-menu-navigation__button--has-selection.c-menu-navigation__button--disabled:hover,
  .c-menu-navigation__button--has-selection.c-menu-navigation__button--disabled:focus {
    background-color: #d6eaf0;
  }

  /* modifier: transparent */
  .c-menu-navigation__button--transparent {
    background-color: transparent;
    @apply border-transparent;
    box-shadow: none;
    text-decoration: underline;
  }

  .c-menu-navigation__button--transparent:hover:not(:disabled),
  .c-menu-navigation__button--transparent.ds-hover:not(:disabled) {
    @apply text-primary-dark;
    border-color: #92949b;
    box-shadow: none;
  }

  .c-menu-navigation__button--transparent:disabled,
  .c-menu-navigation__button--transparent:disabled:hover,
  .c-menu-navigation__button--transparent:disabled:focus,
  .c-menu-navigation__button--transparent.c-menu-navigation__button--disabled,
  .c-menu-navigation__button--transparent.c-menu-navigation__button--disabled:hover,
  .c-menu-navigation__button--transparent.c-menu-navigation__button--disabled:focus {
    background-color: transparent;
    @apply border-transparent;
    text-decoration: none;
  }

  /* modifier: header */
  .c-menu-navigation__button--header {
    background-color: transparent;
    @apply border-none;
    @apply rounded-none;
    box-shadow: none;
    @apply font-normal;
    font-size: 0.875rem; line-height: 1.25rem;
    color: #1f2331;
  }

  .c-menu-navigation__button--header:hover:not(:disabled),
  .c-menu-navigation__button--header.ds-hover:not(:disabled) {
    background-color: transparent;
    @apply border-none;
    box-shadow: none;
    color: #1f2331;
    text-decoration: underline;
  }

  .c-menu-navigation__button--header:disabled,
  .c-menu-navigation__button--header:disabled:hover,
  .c-menu-navigation__button--header:disabled:focus,
  .c-menu-navigation__button--header.c-menu-navigation__button--disabled,
  .c-menu-navigation__button--header.c-menu-navigation__button--disabled:hover,
  .c-menu-navigation__button--header.c-menu-navigation__button--disabled:focus {
    background-color: transparent;
  }

  .c-menu-navigation__button--header.c-menu-navigation__button--has-selection {
    font-weight: 700;
  }

  .c-menu-navigation__tooltip {
    display: none;
    position: absolute;
    @apply top-0;
    @apply left-0;
  }

  .c-menu-navigation__tooltip:focus,
  .c-menu-navigation__tooltip.ds-focus {
    background-color: #00607a;
    color: #ffffff;
    @apply outline-hidden;
  }


}

/* menubar */
/* ==========================================================================
   _styles.menubar.css
   ========================================================================== */
{
  .c-menubar--last-right {
    li:last-of-type {
      @apply lg:ml-auto;
    }
  }

  .c-menubar__button {
    display: inline-flex;
    @apply items-baseline;
    @apply px-3;
    @apply py-2;
    background-color: #ffffff;
    border-width: 1px; border-style: solid;
    border-color: #00607a;
    border-radius: 0.1875rem;
    @apply align-baseline;
    font-weight: 600;
    color: #00607a;
    @apply transition-all;
    @apply duration-100;
    @apply ease-out;
    white-space: nowrap;
    cursor: pointer;

    @apply focus:bg-warning-base;
    @apply focus:border-warning-base;
    @apply focus:shadow-outline-black;
    @apply focus:text-black;
    @apply focus:outline-hidden; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      background-color: #ededec;
      border-color: #00607a;
      color: #00607a;
    } :active:not(:disabled),
    .ds-active:not(:disabled) {
      position: relative;
      @apply top-px;
    }

    .ds-focus {
      @apply bg-warning-base;
      @apply border-warning-base;
      @apply shadow-outline-black;
      color: #1f2331;
      @apply outline-hidden;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-menubar__button--disabled,
    .c-menubar__button--disabled:hover,
    .c-menubar__button--disabled:focus {
      background-color: #ffffff;
      @apply opacity-50;
      @apply cursor-not-allowed;
      @apply pointer-events-none;
    }
  }

  .c-menubar__msg {
    display: none;
  }

  .c-menubar__tooltip {
    display: none;

    [role='menuitem'],
    [role='menuitemcheckbox'],
    [role='menuitemradio'] {
      position: relative; :focus,
      .ds-focus {
        background-color: #00607a;
        color: #ffffff;
        @apply outline-hidden; [aria-checked='true'] { ::before {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg transform='matrix(3.4285714285714284,0,0,3.4285714285714284,0,0)'%3E%3Cpath d='M4,12.5a2,2,0,0,1-1.55-.78L.25,9.23A1,1,0,0,1,.34,7.81a1,1,0,0,1,1.41.1l2.06,2.33a.21.21,0,0,0,.18.09.23.23,0,0,0,.18-.08l8.11-8.44a1,1,0,0,1,1.44,1.38l-8.2,8.63A1.94,1.94,0,0,1,4,12.5Z' style='fill: %23ffffff'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
          }
        } [role='menuitemradio'] { [aria-checked='true'] { ::before {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg transform='matrix(3.4285714285714284,0,0,3.4285714285714284,0,0)'%3E%3Ccircle cx='7' cy='7' r='7' style='fill: %23ffffff'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
            }
          }
        }
      } [aria-checked='true'] {
        font-weight: 700; ::before {
          @apply bg-center bg-no-repeat bg-cover;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg transform='matrix(3.4285714285714284,0,0,3.4285714285714284,0,0)'%3E%3Cpath d='M4,12.5a2,2,0,0,1-1.55-.78L.25,9.23A1,1,0,0,1,.34,7.81a1,1,0,0,1,1.41.1l2.06,2.33a.21.21,0,0,0,.18.09.23.23,0,0,0,.18-.08l8.11-8.44a1,1,0,0,1,1.44,1.38l-8.2,8.63A1.94,1.94,0,0,1,4,12.5Z' style='fill: %23000000'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
          content: '';
          @apply w-3;
          @apply h-3;
          position: absolute;
          @apply top-3;
          @apply left-2;
        }
      }
    }

    [role='menuitemradio'] { [aria-checked='true'] { ::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg transform='matrix(3.4285714285714284,0,0,3.4285714285714284,0,0)'%3E%3Ccircle cx='7' cy='7' r='7' style='fill: %23000000'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
          @apply w-1.5;
          @apply h-1.5;
          @apply top-4;
          @apply left-3;
        }
      }
    }
  }

  .c-menubar__button--base {
    @apply px-3;
    @apply py-2;
    font-size: 1rem; line-height: 1.5rem;
  }

  .c-menubar__button--lg {
    padding-left: 1rem; padding-right: 1rem;
    @apply py-3;
    font-size: 1.125rem; line-height: 1.75rem;
  }

  .c-menubar__button--sm {
    padding-left: 0.5rem; padding-right: 0.5rem;
    @apply py-1;
    font-size: 0.875rem; line-height: 1.25rem;
  }

  .c-menubar__button--primary {
    background-color: #00607a;
    color: #ffffff;
    @apply shadow-solid-primary-dark; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      @apply bg-primary-dark;
      @apply border-primary-dark;
      color: #ffffff;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-menubar__button--disabled,
    .c-menubar__button--disabled:hover,
    .c-menubar__button--disabled:focus {
      background-color: #00607a;
    }
  }

  .c-menubar__button--has-selection {
    background-color: #d6eaf0;
    @apply text-primary-dark;
    border-color: #00607a;
    box-shadow: none;
    font-weight: 700; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      @apply bg-primary-light/50;
      color: #1f2331;
    } :active:not(:disabled),
    .ds-active:not(:disabled) {
      box-shadow: none;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-menubar__button--disabled,
    .c-menubar__button--disabled:hover,
    .c-menubar__button--disabled:focus {
      background-color: #d6eaf0;
    }
  }

  .c-menubar__button--transparent {
    background-color: transparent;
    @apply border-transparent;
    box-shadow: none;
    text-decoration: underline; :hover:not(:disabled),
    .ds-hover:not(:disabled) {
      @apply text-primary-dark;
      border-color: #92949b;
      box-shadow: none;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-menubar__button--disabled,
    .c-menubar__button--disabled:hover,
    .c-menubar__button--disabled:focus {
      background-color: transparent;
      @apply border-transparent;
      text-decoration: none;
    }

    .c-menubar__msg {
      display: inline;
      position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border-width: 0;
    }
  }

  .c-menubar__button--header {
    background-color: transparent;
    @apply border-none;
    @apply rounded-none;
    box-shadow: none;
    @apply font-normal;
    font-size: 0.875rem; line-height: 1.25rem;
    color: #1f2331; :hover:not(:disabled),
    .ds-hover:not(:disabled) {
      background-color: transparent;
      @apply border-none;
      box-shadow: none;
      color: #1f2331;
      text-decoration: underline;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-menubar__button--disabled,
    .c-menubar__button--disabled:hover,
    .c-menubar__button--disabled:focus {
      background-color: transparent;
    }
  }
}

/* notification */
/* ==========================================================================
   _styles.notification.css
   ========================================================================== */
{
  .c-notification {
    display: flex;
    @apply flex-wrap;
    position: relative;
    overflow: hidden;
    padding: 1rem;
    background-color: #ffffff;
    @apply border-4;
  }

  .c-notification--primary {
    border-color: #00607a;
  }

  .c-notification--warning {
    @apply border-warning-dark;
  }

  .c-notification--success {
    @apply border-success-dark;
  }

  .c-notification--alert {
    @apply border-alert-dark;
  }
}

/* pill */
/* ==========================================================================
   _styles.pill.css
   ========================================================================== */
{
  .c-pill {
    display: inline-flex;
    @apply align-baseline;
    padding-left: 0.5rem; padding-right: 0.5rem;
    @apply py-0.5;
    background-color: #ffffff;
    border-width: 1px; border-style: solid;
    border-color: #92949b;
    border-radius: 9999px;
    color: #1f2331;

    @apply focus:bg-warning-base;
    @apply focus:border-warning-base;
    @apply focus:shadow-outline-black;
    @apply focus:text-black;
    @apply focus:outline-hidden;
  }

  a.c-pill,
  button.c-pill { :hover, :active,
    .ds-hover {
      background-color: #ededec;
    }

    .ds-focus {
      @apply bg-warning-base;
      @apply border-warning-base;
      @apply shadow-outline-black;
      color: #1f2331;
      @apply outline-hidden;
    }
  }

  .c-pill--primary {
    border-color: #00607a;
    background-color: #d6eaf0;
  }

  .c-pill--warning {
    @apply border-warning-dark;
    @apply bg-warning-light;
  }

  .c-pill--success {
    @apply border-success-dark;
    @apply bg-success-light;
  }

  .c-pill--alert {
    @apply border-alert-dark;
    @apply bg-alert-light;
  }
}

/* radios */
/* ==========================================================================
   _styles.radios.css
   ========================================================================== */
{
  .c-radios--base {
    input[type='radio'] {
      @apply w-6;
      @apply h-6;
    }
  }

  .c-radios--sm {
    input[type='radio'] {
      @apply w-base!;
      @apply h-base!;
    }
  }

  .c-radios__conditional-active {
    .c-radios__conditional-item {
      display: block;
    }
  }

  .c-radios__conditional-hidden {
    .c-radios__conditional-item {
      display: none;
    }
  }
}

/* select */
/* ==========================================================================
   _styles.select.css
   ========================================================================== */

{
  .c-select--transparent {
    background-color: transparent;
    @apply border-transparent!;
    box-shadow: none;
    color: #00607a;
    text-decoration: underline;
    cursor: pointer; :hover:not(:disabled),
    .ds-hover:not(:disabled) {
      background-color: #ededec;
      @apply border-neutral-base!;
      color: #00607a;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-button--disabled,
    .c-button--disabled:hover,
    .c-button--disabled:focus {
      background-color: transparent;
      @apply border-transparent!;
      text-decoration: none;
    }
  }

  .c-select--base {
    @apply pr-10;
    @apply pl-3;
    @apply py-2;
    font-size: 1rem; line-height: 1.5rem;
  }

  .c-select--sm {
    @apply pl-2;
    @apply py-1;
    font-size: 0.875rem; line-height: 1.25rem;
  }
}

/* skip-link */
/* ==========================================================================
   _styles.skip-link.css
   ========================================================================== */
{
  .c-skip-link {
    .ds-focus {
      @apply not-sr-only!;
      @apply outline-hidden!;
      @apply shadow-outline-warning!;
    }
  }
}

/* spinner */
/* ==========================================================================
   _styles.spinner.css
   ========================================================================== */

{

  .c-spinner {
    position: relative;
    display: block;
    @apply pointer-events-none; ::after {
      content: '';
      @apply absolute!;
      top: calc(50% - (1em / 2));
      left: calc(50% - (1em / 2));
      display: block;
      width: 1em;
      height: 1em;
      @apply border-0.125em border-solid border-current;
      border-radius: 9999px;
      border-right-color: var(--color-transparent);
      border-top-color: var(--color-transparent);
      animation: spinAround 500ms infinite linear;
    }
  }


  @keyframes spinAround {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
}

/* table */
/* ==========================================================================
   _styles.table.css
   ========================================================================== */
{
  .c-table--no-responsive {
    tr {
      @apply table-row!;
    }

    td {
      @apply table-cell!;
      @apply before:content-none!;
    }

    th {
      @apply before:content-none!;
    }
  }
}

/* table-advanced */
/* ==========================================================================
   _styles.table-advanced.css
   ========================================================================== */

{
  .c-table-advanced {
    [role="button"] {
      cursor: pointer;
    }


    [aria-sort="ascending"],
    [aria-sort="descending"],
    [aria-sort="none"] {
      .c-table-advanced__order {
        @apply inline-block pointer-events-none;
      }
    }


    [aria-sort="ascending"] {
      @apply font-bold text-black;

      .c-table-advanced__ascending {
        @apply inline-block pointer-events-none;
      }
    }


    [aria-sort="descending"] {
      @apply font-bold text-black;

      .c-table-advanced__descending {
        @apply inline-block pointer-events-none;
      }
    }


    [aria-sort="none"] {
      @apply font-normal text-neutral-dark;

      .c-table-advanced__none {
        @apply inline-block;
      }
    } [tabindex="0"]:focus {
      @apply bg-warning-base;
      @apply outline-hidden;
      @apply shadow-outline-black;
      color: #1f2331;
    }
  }


  .c-table-advanced__order,
  .c-table-advanced__ascending,
  .c-table-advanced__descending,
  .c-table-advanced__none {
    display: none;
  }
}

/* tabs */
/* ==========================================================================
   _styles.tabs.css
   ========================================================================== */

{
  .c-tabs:not(.c-tabs--reset) .c-tabs__heading {
    @apply mb-sm
           text-sm
           lg:sr-only;
  }

  .c-tabs:not(.c-tabs--reset) .c-tabs__tabs {
    @apply lg:relative
           lg:w-full
           lg:flex
           lg:snap-x
           lg:overflow-x-auto
           lg:-mb-0.5;
  }

  .c-tabs:not(.c-tabs--reset) .c-tabs__link {
    @apply relative
           flex-none
           flex
           items-center
           py-sm
           border
           text-black
           underline
           truncate
           hover:text-primary-base
           focus:outline-hidden
           border-transparent
           lg:px-base
           lg:py-base
           lg:snap-start;
  }

  .c-tabs:not(.c-tabs--reset) .c-tabs__link--is-active {
    @apply no-underline
           lg:bg-white
           lg:border-neutral-base
           lg:border-b-0
           lg:rounded-t;
  }

  .c-tabs:not(.c-tabs--reset) .c-tabs__panel {
    @apply p-base
           mt-base
           border
           border-neutral-base
           focus:outline-hidden
           focus:border-black
           focus:shadow-outline-focus-input
           focus:ring-4
           focus:ring-warning-base
           lg:mt-px;
  }

  .c-tabs:not(.c-tabs--reset) .c-tabs__panel-heading {
    @apply lg:sr-only;
  }

  .c-tabs--scroll:not(.c-tabs--reset) {
    .c-tabs__heading {
      position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border-width: 0;
    }

    .c-tabs__tabs {
      @apply relative
             w-full
             flex
             snap-x
             overflow-x-auto
             -mb-0.5;
    }

    .c-tabs__link {
      @apply snap-start
             px-lg
             py-base
             border;
    }

    .c-tabs__link--is-active {
      @apply no-underline
             bg-white
             border-neutral-base
             border-b-0
             rounded-t;
    }

    .c-tabs__panel {
      @apply mt-px;
    }

    .c-tabs__panel-heading {
      position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border-width: 0;
    }
  }

  .c-tabs--list {
    .c-tabs__heading {
      @apply mb-sm
             text-sm
             lg:sr-only;
    }

    .c-tabs__link {
      @apply relative
             focus:outline-hidden
             lg:px-base; > span, > strong {
        @apply flex
               items-center
               flex-1
               py-sm
               lg:py-base; > span {
          width: 100%;
        }
      }
    }

    .c-tabs__panel-heading {
      position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border-width: 0;
    }
  }
}

/* toggle */
/* ==========================================================================
   _styles.toggle.css
   ========================================================================== */

{
  .c-toggle {
    [aria-expanded="true"],
    [aria-pressed="true"],
    [aria-checked="true"] {
      .c-button--is-not-pressed {
        display: none !important
      }

      .c-button--is-pressed {
        display: block !important
      }
    }

    [aria-expanded="false"],
    [aria-pressed="false"],
    [aria-checked="false"] {
      .c-button--is-not-pressed {
        display: block !important
      }

      .c-button--is-pressed {
        display: none !important
      }
    }
  }

  .c-toggle__button {
    display: inline-flex;
    @apply items-baseline;
    @apply px-3;
    @apply py-2;
    background-color: #ffffff;
    border-width: 1px; border-style: solid;
    border-color: #00607a;
    border-radius: 0.1875rem;
    @apply align-baseline;
    font-weight: 600;
    color: #00607a;
    @apply transition-all;
    @apply duration-100;
    @apply ease-out;
    white-space: nowrap;
    cursor: pointer;

    @apply focus:bg-warning-base;
    @apply focus:border-warning-base;
    @apply focus:shadow-outline-black;
    @apply focus:text-black;
    @apply focus:outline-hidden; :hover:not(:disabled), :active:not(:disabled),
    .ds-hover:not(:disabled) {
      background-color: #ededec;
      border-color: #00607a;
      color: #00607a;
    } :active:not(:disabled),
    .ds-active:not(:disabled) {
      position: relative;
      @apply top-px;
    }

    .ds-focus {
      @apply bg-warning-base;
      @apply border-warning-base;
      @apply shadow-outline-black;
      color: #1f2331;
      @apply outline-hidden;
    } [disabled], [disabled]:hover, [disabled]:focus,
    .c-button--disabled,
    .c-button--disabled:hover,
    .c-button--disabled:focus {
      background-color: #ffffff;
      @apply opacity-50;
      @apply cursor-not-allowed;
    }
  }
}

/* tooltip */
/* ==========================================================================
   _styles.tooltip.css
   ========================================================================== */

{
  .c-tooltip__tooltip {
    display: none;
  }
}

/* tree */
/* ==========================================================================
   _styles.tree.css
   ========================================================================== */

{
  .c-tree--base {
    input[type='checkbox'],
    input[type='radio'] {
      @apply w-6;
      @apply h-6;
    }
  }

  .c-tree--sm {
    input[type='checkbox'],
    input[type='radio'] {
      @apply w-base!;
      @apply h-base!;
    }
  }

  .c-tree__item { [aria-expanded='true'] { > ul {
        display: block;
      }
      .c-tree__plus {
        display: none;
      }
      .c-tree__minus {
        display: block;
      }
    } [aria-expanded='false'] { > ul {
        display: none;
      }
      .c-tree__plus {
        display: block;
      }
      .c-tree__minus {
        display: none;
      }
    }
  }

  .c-tree__item--focus {
    @apply bg-warning-base;
    @apply outline-hidden;
    @apply shadow-outline-focus;
    color: #1f2331;
  }
}

/* treegrid */
/* ==========================================================================
   _styles.treegrid.css
   ========================================================================== */

/* No {
  /* Indentation based on level that comes from html style (--level)*/ tr[aria-level] > :is(td, th):first-child {
    padding-left: calc(var(--level) * 2.5ch);
    position: relative;
  } .c-treegrid__icon {
    left: calc((var(--level) - 1) * 2.5ch);
    size: 2.5ch;
  } :is(
      tr[aria-expanded="true"] > td:first-child,
      tr[aria-expanded="true"] > th:first-child,
      td[aria-expanded="true"]:first-child,
      th[aria-expanded="true"]:first-child
    )
  .c-treegrid__icon
    svg {
      @apply rotate-90;
    }
}



