/* ==========================================================================
   _styles.treegrid.css
   ========================================================================== */

/* No @layer components here to avoid specificity issues */

.c-treegrid {
  /* Indentation based on level that comes from html style (--level)*/
  & tr[aria-level] > :is(td, th):first-child {
    padding-left: calc(var(--level) * 2.5ch);
    @apply relative;
  }

  & .c-treegrid__icon {
    left: calc((var(--level) - 1) * 2.5ch);
    size: 2.5ch;
  }

  & :is(
      tr[aria-expanded="true"] > td:first-child,
      tr[aria-expanded="true"] > th:first-child,
      td[aria-expanded="true"]:first-child,
      th[aria-expanded="true"]:first-child
    )
  .c-treegrid__icon
    svg {
      @apply rotate-90;
    }
}


