{% set headArray = [] %}

{#- Capture the HTML so we can optionally nest it in a wrapper -#}
{% set innerHtml %}
<table data-module="c-treegrid" class="c-treegrid
  {%- if params.classes %} {{ params.classes }}{% endif %}"{% for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %} role="treegrid">
  {% if params.caption %}
    <caption {%- if params.captionClasses %} class="{{ params.captionClasses }}"{% endif %}>{{ params.caption }}</caption>
  {% endif %}
  {% if params.head %}
    <colgroup>
      {% for item in params.head %}
        <col class="treegrid-col-{{ loop.index }}">
      {% endfor %}
    </colgroup>
    <thead>
      <tr class="border-t border-b border-neutral-base">
        {% for item in params.head %}
          {% set headArray = (headArray.push(item.html | safe | striptags if item.html else
            item.text), headArray) %}
          <th scope="col" class="align-top px-base py-sm text-left font-normal text-sm text-neutral-dark {%- if item.classes %} {{ item.classes }}{% endif %}"
            {% for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>{{ item.html |safe if item.html else item.text }}</th>
        {% endfor %}
      </tr>
    </thead>
  {% endif %}
  <tbody>
    {% for row in params.rows %}
      {% if row %}
        <tr role="row" class="mb-0 text-left border-t border-b border-neutral-base focus:bg-warning-base focus:outline-none focus:shadow-outline-focus focus:text-black" {%- if row.level %} aria-level="{{ row.level }}" style="--level: {{ row.level }}"{% endif %}  {%- if row.posinset %} aria-posinset="{{ row.posinset }}"{% endif %} {%- if row.setsize %} aria-setsize="{{ row.setsize }}"{% endif %} {%- if row.expanded != undefined  %} aria-expanded="{{ row.expanded }}"{% endif %} {% for attribute, value in row.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
          {% for cell in row.cells %}
            {% set commonAttributes %}
            data-label="{{ headArray[loop.index0] }}"
            {% for attribute, value in cell.attributes %}
              {{ attribute }}="{{ value }}"{% endfor %}
            {% endset %}

            {% if loop.first and params.firstCellIsHeader %}
              <th scope="row" class="align-top px-base py-sm text-left font-normal text-sm leading-relaxed text-neutral-dark focus:text-black focus:bg-warning-base focus:outline-none focus:shadow-outline-focus{%- if cell.classes %} {{ cell.classes }}{% endif %}{% if row.expanded is defined and loop.first %} flex items-start{% endif %}"
            {{- commonAttributes | safe -}}
          >
                {% if row.expanded is defined and loop.first %}
                  <span class="c-treegrid__icon absolute text-primary-base transition-transform duration-200 ease-out cursor-pointer select-none after:content-[''] after:absolute after:-top-1 after:-left-2 after:p-4" role="presentation">
                    <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                      <rect width="24" height="24" fill="none"/>
                      <path d="M15.0111 12.387C15.0621 12.3362 15.1025 12.2759 15.13 12.2094C15.1576 12.143 15.1718 12.0718 15.1718 11.9998C15.1718 11.9279 15.1576 11.8567 15.13 11.7903C15.1025 11.7238 15.0621 11.6635 15.0111 11.6127L11.1839 7.78547C11.1074 7.70887 11.0099 7.65669 10.9038 7.63554C10.7976 7.61439 10.6875 7.62522 10.5875 7.66666C10.4875 7.70811 10.4021 7.77829 10.342 7.86834C10.2819 7.95838 10.2499 8.06423 10.25 8.17248L10.25 15.8272C10.2498 15.9355 10.2818 16.0414 10.3419 16.1315C10.4019 16.2216 10.4874 16.2918 10.5874 16.3333C10.6874 16.3748 10.7975 16.3856 10.9037 16.3645C11.0099 16.3433 11.1074 16.2911 11.1839 16.2145L15.0111 12.387Z" fill="currentColor"/>
                    </svg>
                  </span>
                {% endif %}
                {{ cell.html | filterquotes | safe if cell.html else cell.text }}</th>
            {% else %}
              <td role="gridcell" class="text-left px-base py-sm focus:text-black focus:bg-warning-base focus:outline-none focus:shadow-outline-focus {%- if cell.classes %} {{ cell.classes }}{% endif %}{% if row.expanded is defined and loop.first %} flex items-start{% endif %}"
            {{- commonAttributes | safe -}}
          >
                {% if row.expanded is defined and loop.first %}
                  <span class="c-treegrid__icon absolute text-primary-base transition-transform duration-200 ease-out cursor-pointer select-none after:content-[''] after:absolute after:-top-1 after:-left-2 after:p-4" role="presentation">
                    <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                      <rect width="24" height="24" fill="none"/>
                      <path d="M15.0111 12.387C15.0621 12.3362 15.1025 12.2759 15.13 12.2094C15.1576 12.143 15.1718 12.0718 15.1718 11.9998C15.1718 11.9279 15.1576 11.8567 15.13 11.7903C15.1025 11.7238 15.0621 11.6635 15.0111 11.6127L11.1839 7.78547C11.1074 7.70887 11.0099 7.65669 10.9038 7.63554C10.7976 7.61439 10.6875 7.62522 10.5875 7.66666C10.4875 7.70811 10.4021 7.77829 10.342 7.86834C10.2819 7.95838 10.2499 8.06423 10.25 8.17248L10.25 15.8272C10.2498 15.9355 10.2818 16.0414 10.3419 16.1315C10.4019 16.2216 10.4874 16.2918 10.5874 16.3333C10.6874 16.3748 10.7975 16.3856 10.9037 16.3645C11.0099 16.3433 11.1074 16.2911 11.1839 16.2145L15.0111 12.387Z" fill="currentColor"/>
                    </svg>
                  </span>
                {% endif %}
                {{ cell.html | filterquotes | safe if cell.html else cell.text }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
  {% if params.foot %}
    <tfoot>
      <tr class="border-t-2 border-b border-neutral-base">
        {% for item in params.foot %}
          <td class="text-left px-base py-sm {%- if item.classes %} {{ item.classes }}{% endif %}"
           {% for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor %} data-label="{{ headArray[loop.index0] }}">{{ item.html |safe if item.html else item.text }}</td>
        {% endfor %}
      </tr>
    </tfoot>
  {% endif %}
</table>
{% endset %}

<!-- treegrid -->
{% if params.wrapper %}
  <div {%- if params.wrapper.classes %} class="{{ params.wrapper.classes }}"{% endif %} {% for attribute, value in params.wrapper.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
    {{ innerHtml | trim | safe }}
  </div>
{% else %}
  {{ innerHtml | trim | safe }}
{% endif %}
<!-- /treegrid -->