<!-- toggle -->
<div data-module="c-toggle" class="relative c-toggle">
  <!-- Button -->
  <button
    {% if params.isSwitch and params.pressed == null %}
      role = "switch"
      aria-checked="false"
    {% elseif params.isSwitch and params.pressed == true %}
      role = "switch"
      aria-checked="true"
    {% elseif params.isExpandible == false %}
      aria-pressed="false"
    {% elseif params.pressed == true %}
      aria-pressed="true"
    {% else %}
      aria-expanded="false"
    {% endif %}
    type="button"
    class="c-toggle__button {{ params.classes if params.classes else '' }}"
    id="{{ params.id }}"
    {%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}
  >
    <span class="c-button--is-not-pressed pointer-events-none">{{ params.offState.html | filterquotes | safe if params.offState.html else params.offState.text }}</span>
    <span class="c-button--is-pressed hidden pointer-events-none">{{ params.onState.html | filterquotes | safe if params.onState.html else params.onState.text }}</span>
  </button>
</div>
<!-- /toggle -->
