<!-- fieldset -->
<fieldset {%- if params.classes %} class="{{ params.classes }}"{% endif %}
  {%- if params.role %} role="{{ params.role }}"{% endif %}
  {%- if params.describedBy %} aria-describedby="{{ params.describedBy }}"{% endif %}
  {%- if params.errorId %} aria-errormessage="{{ params.errorId }}"{% endif %}
  {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  {% if params.legend.html or params.legend.text %}
  <legend class="{%- if params.legend.classes %}{{ params.legend.classes }}{% else %}font-bold{% endif %}">
  {% if params.legend.isPageHeading %}
    {% if params.headingLevel == "1" %}
    <h1>
      {{ params.legend.html | filterquotes | safe if params.legend.html else params.legend.text }}
    </h1>
  {% elseif params.headingLevel == "2" %}
    <h2>
      {{ params.legend.html | filterquotes | safe if params.legend.html else params.legend.text }}
    </h2>
  {% elseif params.headingLevel == "3" %}
    <h3>
      {{ params.legend.html | filterquotes | safe if params.legend.html else params.legend.text }}
    </h3>
  {% elseif params.headingLevel == "4" %}
    <h4>
      {{ params.legend.html | filterquotes | safe if params.legend.html else params.legend.text }}
    </h4>
  {% elseif params.headingLevel == "5" %}
    <h5>
      {{ params.legend.html | filterquotes | safe if params.legend.html else params.legend.text }}
    </h5>
  {% else %}
  {{ params.headingLevel }}
    <h1>
      {{ params.legend.html | filterquotes | safe if params.legend.html else params.legend.text }}
    </h1>
  {% endif %}
  {% else %}
    {{ params.legend.html | filterquotes | safe if params.legend.html else params.legend.text }}
  {% endif %}
  </legend>
  {% endif %}
  {% if caller %}
  {{ caller() | indent(2) }} {#- if statement allows usage of `call` to be optional -#}
  {% elseif params.caller %}
  {{ params.caller | safe | indent(2) }}
  {% endif %}
</fieldset>
<!-- /fieldset -->