/* ==========================================================================
   _styles.footer.css
   ========================================================================== */
@layer components {
  .c-footer__logo {
    @apply bg-cover bg-center;
  }

  .c-footer__logo--ue {
    width: 11.875rem;
    height: 2.625rem;
    @apply w-[7.215rem] h-[1.585rem] lg:w-[10.178rem] lg:h-9;
    background-image: var(--logo-eu, url('/images/logo-eu.svg'));
  }

  .c-footer__logo--feder {
    width: 37.5rem;
    height: 3.5rem;
    @apply w-[17rem] h-[1.5rem] lg:w-[32.2rem] lg:h-12;
    background-image: var(--logo-feder, url('/images/logo-feder.svg'));
  }

  .c-footer__logo--fse {
    width: 39.687rem;
    height: 3.5rem;
    @apply w-[17rem] h-[1.4rem] lg:w-[34.2rem] lg:h-12;
    background-image: var(--logo-fse, url('/images/logo-fse.svg'));
  }

  .c-footer__logo--feader {
    width: 40.625rem;
    height: 3.5rem;
    @apply w-[17.257rem] h-[1.4rem] lg:w-[35.42rem] lg:h-12;
    background-image: var(--logo-feader, url('/images/logo-feader.svg'));
  }

  .c-footer__logo--plurifondo {
    width: 36.5625rem;
    height: 3.5rem;
    @apply w-[16.257rem] h-[1.5rem] lg:w-[31.4rem] lg:h-12;
    background-image: var(--logo-plurifondo, url('/images/logo-plurifondo.svg'));
  }
}
