{% set exampleComponent = "status" %}
{% set examples =  [
  {
    "name": "éxito",
    "data": {
      "text": "Completo",
      "icon": {
        "type": "success"
      }
    },
    "visualDescription": "Componente rectangular con borde gris delgado y fondo blanco. Contiene texto pequeño gris en la parte superior indicando tipo, seguido de texto negro en negrita con un checkmark verde al lado derecho.",
    "_generated": {
      "hash": "210a3c994639ff72ccf3aa8da8c78331",
      "version": "15.0.3",
      "timestamp": "2026-01-30T19:14:54.477Z"
    }
  },
  {
    "name": "alerta",
    "data": {
      "text": "Incompleto",
      "icon": {
        "type": "alert"
      },
      "classes": "text-alert-base"
    },
    "visualDescription": "Componente rectangular con borde gris delgado y fondo blanco. Contiene texto pequeño gris en la parte superior indicando tipo, seguido de texto rojo en negrita con un ícono triangular de advertencia rojo al lado derecho.",
    "_generated": {
      "hash": "af93f448329f211c857158a43fcc9ad1",
      "version": "15.0.3",
      "timestamp": "2026-01-30T19:14:54.478Z"
    }
  },
  {
    "name": "cargando",
    "data": {
      "text": "Subiendo (20%)",
      "icon": {
        "type": "loading"
      }
    },
    "visualDescription": "Componente rectangular con borde gris delgado y fondo blanco. Contiene texto pequeño gris en la parte superior indicando tipo, seguido de texto negro con un ícono circular de progreso animado al lado derecho.",
    "_generated": {
      "hash": "0cdafd3c8ecb35991c0a071f05734b14",
      "version": "15.0.3",
      "timestamp": "2026-01-30T19:14:54.478Z"
    }
  },
  {
    "name": "error",
    "data": {
      "text": "Error",
      "icon": {
        "type": "error"
      },
      "classes": "text-alert-base"
    },
    "visualDescription": "Caja rectangular con borde gris claro de 1px y fondo blanco. Contiene encabezado en texto negro pequeño regular indicando tipo, seguido de texto en rojo negrita con ícono circular de información rojo adyacente.",
    "_generated": {
      "hash": "cb4f2b0375a7d930e44de5dbcb9f50d0",
      "version": "15.0.3",
      "timestamp": "2026-01-30T19:15:01.600Z"
    }
  },
  {
    "name": "Icono personalizado",
    "data": {
      "text": "Atención",
      "icon": {
        "html": "<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 140 140' width='1em' height='1em' class='w-4 h-4 text-primary-base' aria-hidden='true' focusable='false'><path d='M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm0 117.51a10 10 0 1110-10 10 10 0 01-10 10zm9.17-39.08a2.5 2.5 0 00-1.67 2.36v1.71a7.5 7.5 0 01-15 0v-10A7.5 7.5 0 0170 65a12.5 12.5 0 10-12.5-12.5 7.5 7.5 0 01-15 0 27.5 27.5 0 1136.67 25.93z' fill='currentColor'/></svg>"
      }
    },
    "visualDescription": "Caja rectangular con borde gris claro de 1px y fondo blanco. Contiene encabezado en texto negro pequeño regular, seguido de texto en negro negrita con ícono circular de información negro adyacente.",
    "_generated": {
      "hash": "7787f447d3996d45fb2da6a72218112d",
      "version": "15.0.3",
      "timestamp": "2026-01-30T19:15:01.601Z"
    }
  }
] %}
