/* ==========================================================================
   _styles.breadcrumbs.css
   ========================================================================== */
@layer components {
  .c-breadcrumbs {
    li ~ li::before {
      @apply inline-block;
      @apply relative;
      top: 0.1em;
      content: url("data:image/svg+xml,%3Csvg width='0.8em' height='0.8em' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg' role='presentation' aria-hidden='true' %3E%3Cpath d='M11.4673 8.02055C11.4673 8.36977 11.3176 8.6691 11.0682 8.86865L5.53062 13.8076C5.13152 14.1069 4.53286 14.057 4.23353 13.6579C3.9342 13.2588 3.9342 12.71 4.33331 12.4107L9.22234 8.12033C9.27223 8.07044 9.27223 8.02055 9.22234 7.92078L4.33331 3.6304C3.9342 3.28118 3.88432 2.73241 4.23353 2.33331C4.58275 1.9342 5.13152 1.88432 5.53062 2.23353C5.53062 2.23353 5.53062 2.23353 5.58051 2.28342L11.1181 7.17246C11.3176 7.37201 11.4673 7.72123 11.4673 8.02055Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
      @apply px-sm;
    }
  }


  .c-breadcrumbs--truncated {
    li:not(.c-breadcrumbs__backbutton) {
      @apply lg:max-w-xs;

      &:last-child {
        @apply max-w-full;
      }
    }
  }


  .c-breadcrumbs--collapse-on-mobile {
    li {
      @apply hidden;
      @apply lg:inline-flex;

      &:first-child,
      &:last-child {
        @apply inline-flex;
      }
    }

    .c-breadcrumbs__backbutton + li {
      @apply inline-flex;
    }
  }


  .c-breadcrumbs--inline-on-mobile {
    li {
      @apply inline!;
      @apply lg:inline-flex!;
      @apply leading-loose!;
      @apply lg:leading-tight!;

      a, span {
        @apply whitespace-normal!;
        @apply lg:truncate!;
      }
    }
  }


  .c-breadcrumbs--inline-on-desktop {
    li {
      @apply lg:inline!;
      @apply lg:leading-loose!;

      a, span {
        @apply lg:whitespace-normal!;
      }
    }
  }


  .c-breadcrumbs__backbutton {
    @apply mr-base;
    @apply relative;
    @apply top-0.5;


    & + li::before {
      @apply hidden!;
    }
  }
}
