{# Set classes for this component #}
{%- set classNames = "c-breadcrumbs" -%}

{% if params.classes %}
  {% set classNames = classNames + " " + params.classes %}
{% endif -%}

{% if params.collapseOnMobile %}
  {% set classNames = classNames + " c-breadcrumbs--collapse-on-mobile" %}
{% endif -%}

{% if params.inlineOnMobile %}
  {% set classNames = classNames + " c-breadcrumbs--inline-on-mobile" %}
{% endif -%}

{% if params.inlineOnDesktop %}
  {% set classNames = classNames + " c-breadcrumbs--inline-on-desktop" %}
{% endif -%}

{# This verbose statement is for Purgecss to match the classnames needed. Purgecss needs explicit entire classnames appear in code, a string concatenation will fail. Eg. lg:grid-cols-max-content-{{ params.items.length if not params.hasBackButton else (params.items.length + 1)}} doesn't compile lg:grid-cols-max-content-1,2,3...  #}

{% set gridClass %}
  {% if not params.hasBackButton %}
    {% if params.items.length == 1 %}
lg:grid-cols-(--grid-template-cols-max-content-1){% elseif params.items.length == 2 %}
lg:grid-cols-(--grid-template-cols-max-content-2){% elseif params.items.length == 3 %}
lg:grid-cols-(--grid-template-cols-max-content-3){% elseif params.items.length == 4 %}
lg:grid-cols-(--grid-template-cols-max-content-4){% elseif params.items.length == 5 %}
lg:grid-cols-(--grid-template-cols-max-content-5){% elseif params.items.length == 6 %}
lg:grid-cols-(--grid-template-cols-max-content-6){% elseif params.items.length == 7 %}
lg:grid-cols-(--grid-template-cols-max-content-7){% elseif params.items.length == 8 %}
lg:grid-cols-(--grid-template-cols-max-content-8){% endif %}
  {% else %}
    {% if params.items.length == 1 %}
lg:grid-cols-(--grid-template-cols-max-content-2){% elseif params.items.length == 2 %}
lg:grid-cols-(--grid-template-cols-max-content-3){% elseif params.items.length == 3 %}
lg:grid-cols-(--grid-template-cols-max-content-4){% elseif params.items.length == 4 %}
lg:grid-cols-(--grid-template-cols-max-content-5){% elseif params.items.length == 5 %}
lg:grid-cols-(--grid-template-cols-max-content-6){% elseif params.items.length == 6 %}
lg:grid-cols-(--grid-template-cols-max-content-7){% elseif params.items.length == 7 %}
lg:grid-cols-(--grid-template-cols-max-content-8){% endif %}
  {% endif %}
{% endset %}

<!-- breadcrumbs -->
<nav class="{{classNames}}" aria-label="Estás en: "{% for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <ol class="{% if not params.inlineOnDesktop %}lg:grid {{ gridClass }}{% endif %} w-full items-baseline text-sm">
  {% if params.hasBackButton %}
    <li class="c-breadcrumbs__backbutton flex items-baseline font-bold text-primary-base">
      <a href="javascript:history.back()" class="px-sm border-r border-neutral-base focus:bg-warning-base focus:outline-hidden focus:shadow-outline-focus focus:text-black"><span class="sr-only">Volver a la página anterior</span><span aria-hidden="true" title="Volver a la página anterior"><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 140 140' class='self-center mr-2' aria-hidden='true' focusable='false' width='1em' height='1em'><path d='M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z' fill='currentColor'></path></svg></span></a>
    </li>
  {% endif %}
  {% for item in params.items %}
    {% if item.href %}
    <li class="flex items-baseline max-w-full mb-sm py-xs text-neutral-dark hover:text-black {% if loop.last %} flex-1 font-semibold{% endif %}">
      <a class="{% if loop.last %}no-underline{% else %}underline{% endif %} focus:bg-warning-base focus:outline-hidden focus:shadow-outline-focus focus:text-black {%- if loop.last %} text-black font-semibold{% endif %} truncate" href="{{ item.href }}" {% if loop.last %} aria-current="page"{% endif %}{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>
        {% if loop.last %}
        <strong>{{ item.html | filterquotes | safe if item.html else item.text }}</strong>
        {% else %}
        {{ item.html | filterquotes | safe if item.html else item.text }}
        {% endif %}
      </a>
    </li>
    {% else %}
    <li class="flex items-baseline max-w-full mb-sm py-xs text-neutral-dark {% if loop.last %} flex-1 font-semibold{% endif %}">
      <span class="no-underline {%- if loop.last %} text-black{% endif %} truncate"{% if loop.last %} aria-current="page"{% endif %}>
        {% if loop.last %}
        <strong>{{ item.html | filterquotes | safe if item.html else item.text }}</strong>
        {% else %}
        {{ item.html | filterquotes | safe if item.html else item.text }}
        {% endif %}
      </span>
    </li>
    {% endif %}
  {% endfor %}
  </ol>
</nav>
<!-- /breadcrumbs -->