/* ==========================================================================
   text.css
   ========================================================================== */

@utility c-h0 {
  @apply mb-8;
  font-size: 2.5rem;
  font-family: var(--font-heading);
  @apply font-bold;
  @apply leading-tight;
}

@utility c-h1 {
  @apply mb-lg;
  @apply text-3xl;
  font-family: var(--font-heading);
  @apply font-bold;
  @apply leading-tight;
}

@utility c-h2 {
  @apply mb-base;
  @apply text-2xl;
  font-family: var(--font-heading);
  @apply font-bold;
  @apply leading-tight;
}

@utility c-h3 {
  @apply mb-sm;
  @apply text-lg;
  font-family: var(--font-heading);
  @apply font-bold;
  @apply leading-tight;
}

@utility c-h4 {
  @apply mb-sm;
  @apply text-base;
  font-family: var(--font-heading);
  @apply font-bold;
  @apply leading-tight;
}

@utility c-link {
  @apply text-primary-base;
  @apply underline;

  &:hover {
    @apply text-primary-dark;
  }

  &:focus {
    @apply bg-warning-base;
    @apply shadow-outline-focus;
    @apply outline-hidden;
    @apply text-black;
  }
}

@utility c-link--alert {
  @apply text-alert-base;
  @apply underline;
  @apply font-semibold;

  &:hover {
    @apply text-alert-dark;
  }
}

@utility c-link--neutral {
  @apply text-neutral-dark;
  @apply underline;

  &:hover {
    @apply text-black;
  }
}

@utility c-link--full {
  &::after {
    content: "";
    @apply absolute;
    @apply inset-0;
  }
}

@utility c-link--no-underline {
  @apply no-underline;

  &:hover {
    @apply underline;
  }
}

@utility c-paragraph-lg {
  @apply mb-lg;
  @apply text-lg;
}

@utility c-paragraph-base {
  @apply mb-base;
  @apply text-base;
}

@utility c-paragraph-sm {
  @apply mb-sm;
  @apply text-sm;
}

@utility c-ul {
  @apply mb-base;
  @apply list-none;

  li {
    @apply relative;
    @apply mb-base;
    @apply pl-8;

    &::before {
      content: "";
      @apply absolute;
      top: 0.625rem;
      left: 0.25rem;
      @apply w-1.5;
      @apply h-1.5;
      @apply bg-black;
      @apply rounded-full;
    }

    &:last-of-type {
      @apply mb-0;
    }
  }
}

@utility c-ul--no-bullets {
  li {
    @apply pl-0;

    &::before {
      @apply hidden;
    }
  }
}

@utility c-ol {
  @apply mb-base;
  counter-reset: list-counter;

  li {
    @apply relative;
    @apply mb-base;
    @apply pl-8;

    &::before {
      counter-increment: list-counter;
      content: counter(list-counter) ".";
      @apply absolute;
      left: 0.25rem;
      @apply text-black;
    }

    &:last-of-type {
      @apply mb-0;
    }
  }
}

