{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
<!-- header__dropdown -->
<div class="ml-4 flex items-center lg:ml-6">
  <div class="ml-3 relative">
    <div>
      {% set dropdownContent %}
      {% call componentDropdown({
        "text": params.text,
        "html": params.html,
        "hiddenText": params.hiddenText,
        "classesContainer": params.classesContainer,
        "classesTooltip": params.classesTooltip,
        "classes": params.classes,
        "attributes": params.attributes
      })  %}
          {% if caller %}
          {{ caller() }} {#- if statement allows usage of `call` to be optional -#}
          {% elseif params.caller %}
          {{ params.caller | safe }}
          {% endif %}
      {% endcall %}
      {% endset %}
      {{ dropdownContent | safe | indent(6) }}
    </div>
  </div>
</div>
<!-- /header__dropdown -->
